

.DashBoard {
    width: 20%;
    height: 100%;
    top:0;
    left: 0;
    padding: 16px;
    background-color: #2A2A2A;
    color: #fff;
    position: fixed;
}

.DashBoard h2{
    text-align: center;
}

.DashBoard summary {
    all: unset;
    cursor: pointer;
    font-size: 18px;
}

.DashBoard ul li{
    list-style: none;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Collumn {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}